<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.finalproject_dadriaunnarocio">

    <application
        android:allowBackup="true"
        android:icon="@drawable/schoolmenu"
        android:label="School Menu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpActivity" />

        <activity android:name=".LogInActivity" />

        <activity android:name=".StudentProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MealOptions" />
        <activity android:name=".StudentMenu" />
    </application>

</manifest>